<div class="chatcontainer">
  <div class="chatlist container clear-top" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="row msg-container" *ngFor="let message of messages">
      <div class="col-md-12 col-xs-12">
        <div class="chat-msg"
            [ngClass]="{'chat-msg-sent': selfAuthored, 'chat-msg-received': !selfAuthored}" >
            <p>{{ message.text }}</p>
            <div class="chat-author">
              <strong>{{ message.username }}</strong>&nbsp;
              <span class="time">{{ message.date | date: 'shortTime' }}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chatbox navbar-fixed-bottom">
    <form class="input-group" (ngSubmit)="sendMsg()" >
        <input id="btn-input" 
          type="text" 
          class="form-control input-sm" 
          placeholder="Type your message here..."
          name="msgText"
          [(ngModel)]="msgText">
        <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat">
                Send</button>
        </span>
    </form>
  </div>
</div>