html, body {
    height: 100%;
}
.chatcontainer {
    height: 100%;
}
.chatlist {
    margin-bottom: 60px;
}
.chatbox {
    position: absolute;
    overflow: hidden;
    width: 80%;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
}