<div class="chatcontainer container">
  <div class="container-fluid" >
    <div class="row">
      <div class="col-sm-9">
        <h5>You are: {{ nickName }}</h5>
        <div class="chatlistcontainer" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div class="chatlist">
            <div class="row msg-container" #messages *ngFor="let message of messages">
              <div class="col-md-12 col-xs-12">
                <div class="chat-msg" 
                    [ngClass]="{'chat-msg-sent': nickName === message.nickname, 'chat-msg-received': !(nickName === message.nickname)}">
                    <p>{{ message.text }}</p>
                    <div class="chat-author">
                      <strong [ngStyle]="{'color': message.nicknamecolor}" >{{ message.nickname }} </strong>
                      <span class="time">Sent: {{ message.date | date: 'short' }}</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="nickNameChange" class="alert alert-success alert-dismissible stepout">
            Your nickname is now: <strong>{{ nickName }}</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h5>Users Online:</h5>
        <div class="userlist">
          <div *ngFor="let user of users" >
            <p>{{ user }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chatboxcontainer">
    <div class="chatbox navbar-fixed-bottom">
      <form class="input-group" (ngSubmit)="sendMsg()" >
        <input id="btn-input" 
          type="text" 
          class="form-control input-sm" 
          placeholder="Type your message here..."
          name="msgText"
          [(ngModel)]="msgText">
        <span class="input-group-btn">
          <button class="btn btn-warning btn-sm" id="btn-chat">
            Send</button>
        </span>
      </form>
    </div>
  </div>
</div>