<div class="chatcontainer">
  <div class="chatlist container clear-top">
    <p>Content Here</p>
  </div>
  <div class="chatbox navbar-fixed-bottom">
    <div class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
        <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat">
                Send</button>
        </span>
    </div>
  </div>
</div>
  <!-- <div class="btn-group btn-group-toggle float-right">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
      </label>
    </div>
</div>
<hr>
<pre>{{model | json}}</pre> -->